<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="header">
    </div>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Wingo's Wine Blog", "Index", "Home",new { }, new { @class="navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="myNav">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Regions", "Index", "Regions")</li>
                    <li>@Html.ActionLink("Wineries", "Index", "Wineries")</li>
                    <li>@Html.ActionLink("Wines", "Index", "Wines")</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
