@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Wine Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<WineTravelBlog.Models.Winery>

<h2>Wine Blog</h2>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var listWinery in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => listWinery.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => listWinery.Region.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listWinery.WineryId }) |
                @Html.ActionLink("Details", "Details", new { id = listWinery.WineryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listWinery.WineryId })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>